.form {
  // width: 50%;
  padding: 3rem 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  grid-column-gap: 5rem;
  // grid-auto-rows: 3.7rem;
}

.formGroup {
  // margin-bottom: 2.5rem;
  text-align: left;

  label {
    margin-bottom: 1rem;
    color: #707070;
  }

  input,
  select {
    margin-top: 0.8rem;
    display: block;
    border: 1px solid #c4c4c4;
    // height: 3.5rem;
    padding: 0 0.5rem;
    font-family: "Lato";
    color: #707070;
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    // width: 80%;
    // margin: 0 auto;
  }
}

.submit {
  grid-column: 2/ -1;
  margin-top: 1rem;

  button {
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    border: 0;
    background-color: #00c4a9;
    color: #eee;
    cursor: pointer;
  }
}

.errorText {
  color: rgba(255, 0, 0, 0.89);
  margin-top: 0.5rem;
}
