@import "../config/breakpoints";
@import "../config/mixins";

.container {
  width: 35rem;
  height: 45rem;
  background: #fff;
  padding: 3rem 1.5rem;
  overflow: auto;

  @include respond-custom(1000px) {
    width: 30rem;
  }

  @include respond(phone) {
    width: 30rem;
    height: 46rem;
  }

  @include respond-custom(340px) {
    width: 29rem;
    height: 40rem;
  }
}

.logoContainer {
  width: 9rem;
  height: 4rem;
  margin: 0 auto;
}

.bankLogo {
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 3rem;
  border-top: 1px dashed #dbdbdb;
  border-bottom: 1px dashed #dbdbdb;
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contentItem {
  margin-bottom: 3.5rem;

  &:nth-child(odd) {
    flex: 0 0 45%;
  }

  &:nth-child(even) {
    flex: 0 0 45%;
    text-align: right;
  }
}

.contentHeading {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-size: 1.1rem;
  color: #cfcfcf;
  display: block;
  margin-bottom: 0.8rem;
}

.contentDetails {
  font-style: normal;
  font-size: 1.3rem;
  color: #22215b;
  display: block;
  text-transform: capitalize;
}

.total {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.totalHeading {
  font-size: 1.2rem;
  color: #c4c4c4;
}

.totalDetails {
  font-size: 1.3rem;
  color: #22215b;
}

.button {
  width: 100%;
  display: block;
  height: 3.5rem;
  width: 19.5rem;
  background: #001b6c;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 0;
  outline: 0;
  margin: 3rem auto 0 auto;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;

  & > svg {
    fill: #fff;
    width: 4rem;
  }
}

.action {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.buttonAction {
  flex: 0 0 35%;
  display: block;
  height: 3.5rem;
  width: 19.5rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 0;
  outline: 0;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 3.5rem;
}

.buttonHome {
  background: #001b6c;
}

.buttonRestart {
  background: rgb(32, 165, 110);
}
