//colors
$cico-blue: #2A58AE;
$cico-green: #00B378;
$white: #ffffff;
$content-background-color: #F2F4F5;
$header-background-color: #ffffff;

//width
$sidebar-width: 16.5rem;

//height
$header-height: 11rem;
$header-height-smaller-devices: 9rem;
$status-bar-height: 4rem;
$status-bar-height-smaller-devices: 4rem;