.container {
  padding-top: 3rem;
  font-size: 1.4rem;
  color: #707070;
  // overflow: hidden;
}

.backButton {
  position: absolute;
  left: 2rem;
  cursor: pointer;
}

.header {
  font-size: 1.65rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #3d3d3d;
}

.tokenWarning {
  text-align: center;
  margin-top: 8rem;

  img {
    width: 1.5rem;
  }
}

.failureText {
  text-transform: uppercase;
  color: red;
  font-size: 1.45rem;
  margin: 0 0.5rem;
}
