.form {
  margin-top: 13rem;
  height: max-content;
  width: 38rem;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  top: 4rem;
  padding: 2.5rem;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;

  img {
    width: 3rem;
    margin-bottom: 1rem;
  }

  div {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    label {
      position: relative;
      top: .7rem;
      left: 1.2rem;
      background-color: #fff;
      width: max-content;
      padding: 0 .5rem;
      font-size: 1.4rem;
    }

    input {
      border: 0;
      height: 3.6rem;
      border-radius: 5px;
      background-color: #fff;
      color: #707070;
      font-family: inherit;
      padding: 0 6px;
      border: 1px solid #7070707e;
    }
  }

  button {
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.4rem;
    outline: 0;
    border: 0;
    height: 3.8rem;
    border-radius: .5rem;
    color: #fff;
    box-shadow: 3px 3px 6px #00000029;
    background: transparent 
    linear-gradient(90deg, #11998E 0%, #38EF7D 100%) 
    0% 0% no-repeat padding-box;
  }
}