.container {
  padding-top: 2rem;
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #707087;
  font-size: 1.4rem;
  text-align: left;

  > .loaderContainer {
    position: fixed;
    top: 50%;
    left: 53.5%;
    transform: translate(50%, 50%);
  }

  > .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1.5rem 2rem;
    background-color: #fff;
    text-align: left;
    margin-bottom: 3px;
  }

  > .log {
    box-shadow: .2rem .2rem .3rem #00000029;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
    background-color: #fff;
    margin-bottom: .3rem;
  
    &:hover {
      transform: scale(1.02);
    }
  }

  > .pagination {
    margin: 2rem auto;
    background-color: #fff;
  }

  .pagination span {
    cursor: pointer;
    color: #707070;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination span.active {
    background-color: #2A58AE;
    color: white;
    border: 1px solid #2A58AE;
  }

  .pagination span:disabled {
    background-color: #2A58AE;
    color: white;
    border: 1px solid #2A58AE;
  }
}

.itemOne {
  flex: 0 0 10%;
}

.itemTwo {
  flex: 0 0 10%;
}

.itemThree {
  flex: 0 0 20%;
}

.itemFour {
  flex: 0 0 27%;
}

.itemFive {
  flex: 0 0 19%;
}

.itemSix {
  flex: 0 0 11%;
}

.acceptButton {
  border: 0;
  height: 3rem;
  background-color:#2A58AE;
  border-radius: 5px;
  color: #eee;
}

.acceptDisabled {
  background-color: rgb(199, 199, 199);
}

.itemSeven {
  flex: 0 0 13%;
}