@import '../../assets/styles/config/breakpoints';
@import '../../assets/styles/config/mixins';

.container {
    padding: 2rem 0;
    font-size: 1.4rem;
}

.sectionHeading {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    color: #000;
}

.card {
    width: 33rem;
    height: 13rem;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    @include respond(phone-large) {
        width: 100%;
    }
}

.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service {
    text-align: center;
    flex: 0 0 30%;
    padding: 1rem;
    background: rgba(155, 180, 255, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.serviceLogo {
    width: 3rem;
    margin-bottom: 1rem;
}

.serviceText {
    font-size: 1.2rem;
    text-align: center;
    color: #000;
}

.create {
    margin: 0 auto;
    text-align: center;

    @include respond-custom(1000px) {
        // width: 70%;
    }

    @include respond(tab) {
        // width: 80%;
    }

    @include respond-custom(673px) {
        width: 95%;
    }
}

.steps {
    width: 50%;
    width: 35rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;

    @include respond-custom(550px) {
        width: 70%;
    }

    @include respond-custom(370px) {
        width: 80%;
    }
}

.tab {
    height: 100%;
    font-size: 1.7rem;
    color: #c4c4c4;
    padding-bottom: 0.8rem;
}

.tabActive {
    color: green;
    font-weight: 600;
    border-bottom: 2px solid green;
}
