.form {
    height: 44.2rem;
    width: 43.2rem;
    margin: 0 auto;
    box-shadow: 0px 3px 6px #00000029;
    padding: 3rem;
    padding-top: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  
    .imageContainer {
      flex: 0 0 55px;
      padding: 5px 0;
      text-align: center;
  
      .image {
        padding: 0;
        width: 90px;
        height: 40px;
      }
    }
  
    .inputContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 0 0 280px;
      margin: 0 auto;
  
    > label {
      flex: 0 0 8.6rem;
      margin: 2px 0;
      // background-color: yellow;
  
      span {
        display: block;
        padding: 0 1rem;
        background-color: #fff;
        font-size: 1.35rem;
        color: #9e9d9d;
        line-height: 2.4rem;
        position: relative;
        left: 3rem;
        top: 1rem;
        width: max-content;
      }
  
      input, select {
        width: 35.5rem;
        height: 3.7rem;
        border-radius: 5px;
        border: 1px solid #afafaf;
        color: #707070;
        font-family: inherit;
        padding: 0 6px;
      }
  
      option {
        color: #707070;
      }
  
      input:disabled {
        background-color: #fff;
      }
  
      .transparent {
        color: #70707069;
      }
  
      .opaque {
        color: #707070;
      }
  
      div {
        position: relative;
        bottom: 20%;
        left: 20px;
        z-index: 5;
      }
  
      .validationErrorText {
        font-size: 1.25rem;
        padding-top: 4px;
        color: rgba(255, 0, 0, 0.719);
      }
    }
    }
  
  
    button {
      font-family: 'Lato', sans-serif;
      width: 35.5rem;
      margin: 0 auto;
      margin-top: 2rem;
      font-size: 1.4rem;
      outline: 0;
      border: 0;
      height: 4rem;
      border-radius: 1rem;
      color: #fff;
      box-shadow: 3px 3px 6px #00000029;
      background: transparent 
      linear-gradient(90deg, #11998E 0%, #38EF7D 100%) 
      0% 0% no-repeat padding-box;
  
      &:active {
        transform: translateY(3%);
        box-shadow: 1px 1px 4px #00000029;
      }
    }
  
    button:disabled {
      visibility: hidden;
    }
  }
  
  // .form {
  //   height: 79.8rem;
  //   width: 47.2rem;
  //   margin: 0 auto;
  //   box-shadow: 0px 3px 6px #00000029;
  //   padding: 3rem;
  //   padding-top: 2rem;
  //   background-color: #fff;
  //   display: flex;
  //   flex-direction: column;
  
  //   .imageContainer {
  //     flex: 0 0 55px;
  //     padding: 5px 0;
  //     text-align: center;
  
  //     .image {
  //       padding: 0;
  //       width: 90px;
  //       height: 40px;
  //     }
  //   }
  
  //   .inputContainer {
  //     display: flex;
  //     flex-direction: column;
  //     flex-wrap: wrap;
  //     flex: 0 0 500px;
  //     margin: 0 auto;
  
  //   > label {
  //     flex: 0 0 8.6rem;
  //     margin: 2px 0;
  //     // background-color: yellow;
  
  //     span {
  //       display: block;
  //       padding: 0 1rem;
  //       background-color: #fff;
  //       font-size: 1.35rem;
  //       color: #9e9d9d;
  //       line-height: 2.4rem;
  //       position: relative;
  //       left: 3rem;
  //       top: 1rem;
  //       width: max-content;
  //     }
  
  //     input, select {
  //       width: 39.5rem;
  //       height: 3.7rem;
  //       border-radius: 5px;
  //       color: #707070;
  //       font-family: inherit;
  //       padding: 0 6px;
  //       outline: 0;
  //     }
  
  //     .outlineGrey {
  //       border: 1px solid #afafaf;
  //     }
  
  //     .outlineRed {
  //       border: 1px solid rgba(255, 0, 0, 0.719);
  //     }
  
  //     option {
  //       color: #707070;
  //     }
  
  //     input:disabled {
  //       background-color: #fff;
  //     }
  
  //     .transparent {
  //       color: #70707069;
  //     }
  
  //     .opaque {
  //       color: #707070;
  //     }
  
  //     div {
  //       position: relative;
  //       bottom: 23%;
  //       height: 10px;
  //       left: 20px;
  //     }
  
  //     .validationErrorText {
  //       font-size: 1.25rem;
  //       padding-top: 4px;
  //       color: rgba(255, 0, 0, 0.719);
  //     }
  //   }
  //   }
  
  
  //   button {
  //     font-family: 'Lato', sans-serif;
  //     width: 39.5rem;
  //     margin: 0 auto;
  //     margin-top: 2rem;
  //     font-size: 1.4rem;
  //     outline: 0;
  //     border: 0;
  //     height: 4rem;
  //     border-radius: 1rem;
  //     color: #fff;
  //     box-shadow: 3px 3px 6px #00000029;
  //     background: transparent 
  //     linear-gradient(90deg, #11998E 0%, #38EF7D 100%) 
  //     0% 0% no-repeat padding-box;
  
  //     &:active {
  //       transform: translateY(3%);
  //       box-shadow: 1px 1px 4px #00000029;
  //     }
  //   }
  
  //   button:disabled {
  //     visibility: hidden;
  //   }
  // }