.form {
  // width: 50%;
  padding: 3rem 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  grid-column-gap: 5rem;
  // grid-auto-rows: 3.7rem;
}

.formGroup {
  // margin-bottom: 2.5rem;
  position: relative;
  text-align: left;

  // label {
  //   // margin-bottom: 1rem;
  //   color: #707070;
  // }

  // input,
  // select {
  //   margin-top: 0.8rem;
  //   display: block;
  //   border: 1px solid #c4c4c4;
  //   // height: 3.5rem;
  //   // padding: 0 1rem;
  //   font-family: "Lato";
  //   color: #707070;
  //   width: 100%;
  //   height: 3.5rem;
  //   border-radius: 5px;
  //   line-height: 3.5rem;

  //   // width: 80%;
  //   // margin: 0 auto;
  // }

  // span {
  //   display: block;
  // }

  label {
    width: 100%;
    position: absolute;
    top: 0.5rem;
    height: 3.5rem;
    border: 1px solid #c4c4c4;
    border-radius: 5px;

    span {
      line-height: 3.4rem;
      text-align: center;
      width: 25%;
      height: 100%;
      margin-right: 1rem;
      display: inline-block;
      background-color: #c4c4c4;
      color: #fff;
    }
  }

  [type="file"] {
    opacity: 0;
  }
}

.submit {
  grid-column: 2/ -1;
  margin-top: 1rem;

  button {
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    border: 0;
    background-color: #062863;
    color: #eee;
    cursor: pointer;

    svg {
      width: 3rem;
      position: relative;
      top: 2px;
    }
  }
}
