.button {
    border: 0;
    height: 3.5rem;
    width: 15rem;
    box-shadow: 0 .2rem .3rem #00000029;
    color: #707087;
    font-size: inherit;
    font-family: inherit;
    padding: 0 .5rem;
    border-radius: 10px;
    background-color: #fff;
}