@import "../../assets/styles/generic/status.scss";

.section {
  margin-top: 2rem;
  padding: 2rem 0;
  width: 50rem;
  height: 48rem;

  @media print {
    position: absolute;  
    left: 16%;
  }

  .imageContainer {

    .headingImage {
      width: 90px;
      margin-bottom: 1rem;
      position: initial;
    }
  }
}

.customerInfo {
  flex: 0 0 55%;
}

// @page { size: auto;  margin: 0mm; }