@import "../../assets/styles/config/mixins";
@import "../../assets/styles/config/breakpoints";

@-webkit-keyframes fadeOut {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal {
  overflow: auto;
  background-color: #fff;
  display: none;
  -webkit-animation: fadeOut 0.6s ease;
  animation: fadeOut 0.6s ease;
  padding: 0;
  position: fixed;
  top: 55%;
  left: 55%;
  z-index: 4;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 6px;

  @include respond-custom(1000px) {
    left: 53%;
  }

  @include respond(phone-large) {
    left: 50%;
  }

  // ::-webkit-scrollbar {
  //   width: 0 !important;
  // }

  // & {
  //   overflow: -moz-scrollbars-none;
  // }

  // & {
  //   -ms-overflow-style: none;
  // }
}

.displayModal {
  display: initial;
}

.toggleClose {
  width: 100%;
  text-align: right;
  margin-top: 1rem;
  padding: 0 2rem;
}

.close {
  cursor: pointer;
  width: 1.3rem;
}
