.list-users {
    text-align: left;
    letter-spacing: 1px;
    color: #707070;
    opacity: 1;
    font-size: 1.4rem;
    padding: 0 3rem;
    padding-top: 3rem;
    box-shadow: 5px 5px 5px #00000029;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 1rem;
    overflow-x: hidden;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    
    span {
      flex: 0 0 18%;
    } 
  }

  &__content {
    box-shadow: 5px 5px 5px #00000029;
    padding: 0 1.5rem;
    height: 7.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      flex: 0 0 18%;
    } 

    :last-child {
      display: block;
      color: blue;
      font-weight: bold;
      padding-left: 1.3rem;
      font-size: 2rem;
      padding-bottom: 1.5rem;
    }
  }
}