@import "../../../../assets/styles/config/breakpoints";
@import "../../../../assets/styles/config/variables";
@import "../../../../assets/styles/config/mixins";

.container {
  padding-top: 2rem;
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #707087;
  font-size: 1.3rem;
  text-align: left;
  min-height: 80vh;
  position: relative;

  .loaderContainer {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  > .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1.5rem 2rem;
    background-color: #fff;
    text-align: left;
  }

  > .log {
    box-shadow: 0.5rem 0.5rem 0.5rem #00000029;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
    background-color: #fff;
    margin-bottom: 0.3rem;

    &:hover {
      transform: scale(1.02);
    }

    @include respond(phone-large) {
      flex-direction: column;
      height: max-content;
      padding: 0;

      &:hover {
        transform: scale(1);
      }
    }

    .mobileHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 3rem;
      padding: 0.5rem 1rem;

      @include respond(phone-large) {
        &:hover {
          transform: scale(1.02);
        }
      }

      .accordionToggle {
        width: 1rem;
      }
    }

    .mobileListItem {
      width: 100%;
      height: max-content;
      padding: 0.8rem 1rem;
      border-top: 1px solid #c4c4c4;
      display: flex;
      justify-content: space-between;

      .mobileListItemHeading {
        flex: 0 0 38%;
      }
    }

    .hideMobileListItem {
      display: none;
    }

    .mobileHeadingItemIndex {
      flex: 0 0 5%;
    }

    .mobileHeadingItemDate {
      flex: 0 0 25%;
    }

    .mobileHeadingItemAmount {
      flex: 0 0 30%;
    }

    .mobileHeadingItemType {
      flex: 0 0 15%;
    }
  }

  > .pagination {
    margin: 2rem auto;
    background-color: #fff;

    @include respond(phone-large) {
      margin: 1rem auto;
    }
  }

  .pagination span {
    cursor: pointer;
    color: #707070;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;

    @include respond(phone-large) {
      padding: 8px 5px;
      font-size: 1.25rem;
    }
  }

  .pagination span.active {
    background-color: #2a58ae;
    color: white;
    border: 1px solid #2a58ae;
  }

  .pagination span:disabled {
    background-color: #2a58ae;
    color: white;
    border: 1px solid #2a58ae;
  }
}

.itemOne {
  flex: 0 0 10%;
}

.itemTwo {
  flex: 0 0 10%;
}

.itemThree {
  flex: 0 0 10%;
}

.itemFour {
  flex: 0 0 27%;
}

.itemFive {
  flex: 0 0 9%;
}

.itemSix {
  flex: 0 0 11%;
}

.itemSeven {
  flex: 0 0 13%;
}
