@import "../../../../assets/styles/generic/summary.scss";

// .container {
//     padding-top: 6rem;
  
//     > .paymentContainer {
//       height: 33.2rem;
//       width: 35.6rem;
//       margin: 0 auto;
//       box-shadow: 0px 3px .6rem #00000029;
//       padding: 2rem 2rem 3rem 2rem;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       background-color: #fff;
//       color: #707070;

//       .heading {
//         margin-bottom: 2rem;

//         > .headingText {
//           text-align: center;
//           margin: 0 auto;
//         }
//       }
  
//       div {
//         display: flex;
//         justify-content: space-between;

//         > .pending {
//           font-size: 1.4rem;
//           margin-bottom: 2rem;
//           font-weight: 400;
//           color: #707070; 
//           text-align: center;
//         }

//         p {
//           font-size: 1.4rem;
//           color: #707070;
//         }

//         span {
//           text-align: right;
//           font-size: 1.4rem;
//           flex: 0 0 65%;
//           color: #707070;
//           line-height: 2.4rem;
//         }
  
//         span:first-child {
//           text-align: left;
//           font-size: 1.4rem;
//           flex: 0 0 35%;
//           color: #707070;
//           line-height: 2.4rem;
//         }
//       }

//       .total {
//         padding: 5px 0;
//         border: 1px solid #7070709f;
//         border-left: 0;
//         border-right: 0;
//         font-weight: bold;
//       }
  
//       button {
//         font-family: 'Lato', sans-serif;
//         width: 100%;
//         margin: 0 auto;
//         margin-top: 2rem;
//         font-size: 1.4rem;
//         outline: 0;
//         border: 0;
//         height: 4rem;
//         border-radius: 1rem;
//         box-shadow: 3px 3px .6rem #00000029;
//         background: transparent 
//         linear-gradient(90deg, #11998E 0%, #38EF7D 100%) 
//         0% 0% no-repeat padding-box;
//         color: #fff;
  
//         &:active {
//           transform: translateY(3%);
//           box-shadow: 1px 1px 4px #00000029;
//         }
//       }
//     }
//   }