@import "../../assets/styles/config/mixins";
@import "../../assets/styles/config/breakpoints";

@keyframes slidedown {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-size: 1.45rem;
  font-family: "Lato", sans-serif;

  > .imageSection {
    flex: 0 0 30%;
    background: transparent linear-gradient(180deg, #1fe294 0%, #11998e 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;

    @include respond-custom(58em) {
      display: none;
    }

    > .imageBox {
      position: relative;
      top: 25rem;
      left: 2rem;
      display: flex;
      align-items: center;

      p {
        width: 9rem;
        height: 5rem;
        background-color: #fff;
        font-size: 1.4rem;
        color: #c7c7c7;
        border-radius: 1rem;
        text-align: center;
        vertical-align: middle;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }

  > .formSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    > .formContainer {
      width: 55%;
      margin: 0 auto;
      margin-top: 23vh;

      @include respond-custom(71.87em) {
        width: 70%;
      }

      @include respond(tab) {
        width: 90%;
      }

      @include respond(phone-large) {
        margin-top: 29vh;
        width: 100%;
      }

      @include respond(phone-medium) {
        margin-top: 18vh;
      }

      > .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .logo {
          margin-bottom: 15vh;

          @include respond(phone-large) {
            margin-bottom: 10vh;
          }
        }

        .error {
          position: absolute;
          top: 5rem;
          color: red;
          font-size: 1.4rem;
          padding: 1rem 2rem;
          width: 29rem;
          margin: 0 auto 2rem auto;
          background-color: rgba(255, 0, 0, 0.185);
          animation: slidedown 0.5s;
          border-radius: 5px;

          display: flex;
          align-items: center;

          img {
            width: 2.5rem;
            margin-right: 1.5rem;
          }

          @include respond(tab) {
            height: 3.5rem;
            top: 1rem;
          }
        }

        .inputField {
          margin-bottom: 3rem;
          width: 70%;
          position: relative;

          @include respond(phone-large) {
            width: 85%;
          }

          input {
            height: 3.5rem;
            width: 100%;
            margin: 0 auto;
            font-family: inherit;
            border: 0;
            outline: 0;
            border-bottom: 1px solid #d1d1d1;
            padding: 0 15px;
            color: #707070;
            font-size: 1.4rem;
            letter-spacing: 0.3px;

            @include respond(tab) {
              margin-top: 5vh;
            }

            @include respond(phone-large) {
              margin-top: 4vh;
            }
          }

          span {
            position: absolute;
            right: 1rem;
            top: 1rem;
            height: 2rem;

            img {
              width: 2rem;
            }

            @include respond(phone-large) {
              top: 51%;
            }
          }

          &::placeholder {
            font-family: inherit;
            font-size: 1.4rem;
            color: #707070;
          }
        }

        button {
          font-family: "Lato", sans-serif;
          margin-top: 3rem;
          width: 70%;
          height: 5rem;
          color: #fff;
          border: 0;
          border-radius: 0.5rem;
          background: transparent
            linear-gradient(90deg, #11998e 0%, #38ef7d 100%) 0% 0% no-repeat
            padding-box;
          font-size: 1.45rem;
          box-shadow: 5px 5px 8px #00000029;
          letter-spacing: 1px;

          @include respond(tab) {
            margin-top: 5vh;
          }

          @include respond(phone-large) {
            margin-top: 2rem;
            width: 70%;
          }

          @include respond(phone-medium) {
            height: 4.7rem;
            margin-top: 4vh;
          }

          @include respond(phone-small) {
            margin-top: 2vh;
          }

          div {
            margin: 0 auto;
          }

          &:focus {
            outline: 0;
          }

          &:active {
            outline: 0;
            transform: translateY(2%);
            box-shadow: 2px 2px 5px #00000029;
          }
        }
      }
    }
  }
}
