.list-terminals {
    text-align: left;
    letter-spacing: 1px;
    color: #707070;
    opacity: 1;
    font-size: 1.4rem;
    padding: 0 30px;
    padding-top: 30px;
    box-shadow: 5px 5px 5px #00000029;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 10px;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    text-align: left;
    margin-bottom: 20px;

    span {
      flex: 0 0 20%;
    }
  }

  &__content {
    box-shadow: 5px 5px 5px #00000029;
    padding: 0 40px;
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      flex: 0 0 20%;
    }
  }
}