@import "../assets/styles/config/breakpoints";
@import "../assets/styles/config/mixins";

.container {
  padding-top: 3rem;
  width: 80%;
  margin: 0 auto;

  @include respond(phone-large) {
    width: 95%;
    padding-top: 2rem;
  }

  > .cashcallHeader {
    font-size: 1.65rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  > .cardContainer {
    display: flex;
    flex-flow: row wrap;
    height: max-content;
    justify-content: space-between;
  }
}
