.container {
  display: flex;

  &-sidebar {
    flex: 0 0 19.5rem;
  }

  &-main {
    flex: 1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    &-header {
      flex: 0 0 13.8rem;
    }
  
    &-content {
      flex: 1;
      background-color: #F2F4F5;
    }
  }
}