.container {
  display: flex;
  min-height: 100vh;

  &-sidebar {
    flex: 0 0 19.5rem;

  }

  &-main {
    flex: 1;

    &-header {
      width: 100%;
    }
  
    &-content {
      position: relative;
      top: 15.5rem;
    }
  }
}