.header {
  text-align: left;
  background-color: #fff;
  position: fixed;
  width: calc(100vw - 19.5rem);
  z-index: 1;
  height: 138px;
}

.logo-box {
  height: 8.2rem;
  box-shadow: 0px 3px .6rem #00000029;
  padding: 3rem;
  margin-bottom: .5rem;
}