@import "../../assets/styles/config/breakpoints";
@import "../../assets/styles/config/mixins";

@keyframes scroll {
  0% {
    transform: translateX(-1%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.panel {
  overflow: hidden;
  height: 3rem;
  background-color: #00b378;
  display: flex;
  transform: 0.2s all;

  p {
    padding-top: 0.7rem;
    animation: scroll 40s linear infinite;
    color: #eee;
    font-size: 1.4rem;
    white-space: nowrap;
    margin-right: 1rem;

    @include respond(phone-large) {
      font-size: 1.25rem;
    }
  }
}
