.sidebar {
  background-color: #2A58AE;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 16.5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__profile {
    flex: 0 0 19vh;
    padding-top: 6%;
    padding-bottom: 8%;

    &__img {
      max-width: 43.5%;
      border-radius: 50%;
    }

    &__name {
      font-size: 1.4rem;
      margin: .5rem 0;
    }

    &__id {
      font-size: 1.4rem;
      margin: 1rem 0;
    }

    &__edit {
      width: 8.2rem;
      height: 2.4rem;
      border-radius: .7rem;
      outline: 0;
      border: 1px solid #CBDAF6;
      background: #FFFFFF1A 0% 0% no-repeat padding-box;
      color: #CBDAF6;
    }
  }

  &__links {
    flex: 1;

    &__link {
      text-decoration: none;
      display: block;
      height: 14.71%;
      color: #CBDAF6;
      padding-top: 2rem;
      transition: .2s all;

      &__image {
        height: 2rem;
        color: white;
      }
      
      &__text {
        font-size: 1.3rem;
        margin-top: .5rem;
      }

      &__secondary-links {
        position: relative;
        left: 100%;
        bottom: 100%;
        z-index: 203;
        visibility: hidden;

        &__link {
          height: 2.5rem;
          display: block;
          color: #CBDAF6;
          background-color: #2A58AE;
          text-decoration: none;
          font-size: 1.3rem;
          padding-top: .5rem;
          transition: .1s all;

          &:hover {
            visibility: visible;
            background-color: rgb(32, 63, 121);
          }
        }
      }

    &:hover {
      visibility: visible;
      background-color: rgb(32, 63, 121);

      div {
        visibility: visible;
        z-index: 5;
      }
    }
  }
  }
}