@import "../../assets/styles/config/mixins";
@import "../../assets/styles/config/breakpoints";

.statusbar {
  height: 5.1rem;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fff;

  @include respond(phone-large) {
    padding: 0 1.3rem;
  }

  &__links {
    flex: 1;
    font-size: 1.4rem;
    color: #013660;
    opacity: 1;

    @include respond(phone-large) {
      display: none;
    }

    > a, span {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }
  }

  &__text {
    font-size: 1.4rem;
    color: #013660;
    opacity: 1;
    flex: 0 0 20%;

    @include respond(phone-large) {
      flex: 0 0 50%;
    }

    @include respond-custom(330px) {
      flex: 0 0 55%;
    }

    &__transaction-balance {

      @include respond(phone-large) {
        display: none;
      }
    }
  }
}

.search {
  height: 3rem;
  width: 22rem;
  background: #FCFBFB 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  border: 0;
  outline: 0;
  padding: 0 .7rem;
  font-family: inherit;
  color: #707070;
  border-radius: 2rem;
  flex: 0 0 25%;

  @include respond(phone-large) {
    flex: 0 0 30%;
    width: 12rem;
    height: 2.3rem;
    order: 1;
  }
}