@import "../../../../assets/styles/config/mixins";
@import "../../../../assets/styles/config/breakpoints";
@import "../../../../assets/styles/config/variables";

.bettingReceipt {
  text-align: center;
  font-size: 1.4rem;
  padding: 3rem 2rem;
  width: 35rem;

  @include respond(phone) {
    width: 30rem;
  }

  img {
    width: 7rem;
    height: 5rem;
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.7rem;

    p {
      flex: 0 0 48%;
      text-align: left;
    }

    p:nth-child(2) {
      text-align: right;
    }
  }

  .betType {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .selection {
    display: initial;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;

    .selectionHeading {
      margin-bottom: 2rem;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
    }

    .selectionOdds {
      display: flex;

      > p:nth-child(1) {
        flex: 1;
      }

      > p {
        flex: 0 0 15%;
      }

      > p:not(:nth-child(1)) {
        text-align: right;
      }
    }
  }

  .orderDate {
    // background: orange;
  }

  .orderDateHeading {
    flex: 0 0 30% !important;
    // background: green;
  }

  .orderDateContent {
    flex: 0 0 70% !important;
    // background: blueviolet;
  }

  .possibleWin {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .betOptions {
    margin-top: 2.5rem;

    // button {
    //   border: 0;
    //   width: 9rem;
    //   height: 3rem;
    //   border-radius: 5px;
    //   color: #eee;
    //   cursor: pointer;
    // }

    // .rebet {
    //   background-color: #2a58ae;
    // }

    .newBet {
      background-color: #25ae88;
      border: 0;
      width: 9rem;
      height: 3rem;
      border-radius: 5px;
      color: #eee;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      line-height: 3rem;
    }
  }

  .printSlip {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    cursor: pointer;

    & > img {
      width: 2rem;
      margin-right: 1rem;
    }
  }
}

.barcodeContainer {
  width: 100%;
  overflow: hidden;
  margin: 1rem 0;
}
