@import "../../../assets/styles/config/breakpoints";
@import "../../../assets/styles/config/mixins";
@import "../../../assets/styles/config/variables";

// .container {
//   padding-top: 2rem;
//   width: 95%;
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
//   color: #707087;
//   font-size: 1.4rem;
//   text-align: left;
//   overflow: hidden;

//   > .loaderContainer {
//     position: absolute;
//     top: 50%;
//     left: 53.5%;
//     transform: translate(50%, 50%);
//   }

//   > .heading {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     height: 5rem;
//     padding: 1.5rem 2rem;
//     background-color: #fff;
//     text-align: left;

//     span {
//       flex: 0 0 18%;
//     }
//   }

//   > .content {
//     box-shadow: 0.5rem 0.5rem 0.5rem #00000029;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     height: 5rem;
//     padding: 1rem 2rem;
//     background-color: #fff;
//     margin-bottom: 0.3rem;

//     span {
//       flex: 0 0 18%;
//     }

//     span:last-child {
//       display: block;
//       color: blue;
//       font-weight: bold;
//       padding-left: 1.3rem;
//       font-size: 2rem;
//       display: flex;
//       flex-direction: column;
//       position: relative;
//       top: 2rem;
//       height: 7.5rem;

//       > .one {
//         color: #2a58ad;
//       }

//       > .two {
//         background-color: #2a58ad;
//         position: relative;
//         right: 30%;
//         display: flex;
//         flex-direction: column;
//         padding-left: 0;
//         width: 13rem;
//         justify-content: center;
//         font-weight: 100;
//         visibility: hidden;
//         background: #2a58ae 0% 0% no-repeat padding-box;
//         box-shadow: 0px 1rem 0.6rem #00000029;

//         a {
//           font-family: "Lato", sans-serif;
//           text-decoration: none;
//           font-weight: 300;
//           font-size: 1.3rem;
//           color: #ffffff;
//           display: block;
//           margin-top: 2px;
//           height: 2.5rem;
//           padding-top: 5px;
//           padding-left: 5px;
//         }

//         a:hover {
//           background-color: rgb(24, 56, 116);
//         }
//       }
//     }

//     span:last-child:hover {
//       .one {
//         z-index: -5;
//       }

//       .two {
//         visibility: visible;
//         z-index: 10;
//         transform: translateY(-100%);
//       }
//     }

//     &:hover {
//       transform: scale(1.02);
//     }
//   }
// }

.container {
  padding: 3rem 1rem;
  background-color: #fff;

  @include respond(tab) {
    padding: 1.5rem 0;
  }
}

.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;

  @include respond(tab) {
    justify-content: flex-start;
  }
}

.card {
  width: 15rem;
  height: 13rem;
  padding: 1rem;
  background: #ffffff;

  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  @include respond(phone-large) {
    // width: 100%;
  }
}

.sectionHeading {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
  color: #22215b;
}

.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service {
  text-align: center;
  width: 12rem;
  padding: 1rem;
  background: rgba(155, 180, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.serviceLogo {
  width: 3rem;
  margin-bottom: 1rem;
}

.serviceText {
  font-size: 1.2rem;
  text-align: center;
  color: #22215b;
}
