.container {
  padding-top: 2rem;
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #707087;
  font-size: 1.4rem;
  text-align: left;

  > .loaderContainer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(50%, 50%);
  }

  > .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1.5rem 2rem;
    background-color: #fff;
    text-align: left;
  
    // span {
    //   flex: 0 1 13%;
    // }
  }

  > .log {
    box-shadow: .5rem .5rem .5rem #00000029;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem 2rem;
    background-color: #fff;
    margin-bottom: .3rem;
  
    // span {
    //   flex: 0 1 13%;
    // }
  
    &:hover {
      transform: scale(1.02);
    }
  }
}

.itemOne {
  flex: 0 0 12%;
}

.itemTwo {
  flex: 0 0 12%;
}

.itemThree {
  flex: 0 0 12%;
}

.itemFour {
  flex: 1;
}

.itemFive {
  flex: 0 0 12%;
}

.itemSix {
  flex: 0 0 12%;
}

.itemSeven {
  flex: 0 0 13%;
}