.container {
  padding-top: 1rem;

  > .detailsForm {
    height: 50.2rem;
    width: 62.2rem;
    margin: 0 auto;
    box-shadow: 0px 3px 6px #00000029;
    padding: 3rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
  
    div {
      font-size: 1.5rem;
      width: 100%;
      color: #2A58AE;
      font-weight: bold;
      padding-left: 2rem;
      margin-bottom: 2rem;
  
      > .startModal {
        cursor: pointer;
      }
  
      span {
        margin-right: 2rem;
      }
  
      :nth-child(2) {
        color: #C7C7C7;
        font-weight: 400;
      }
    }
  
    label {
  
      span {
        display: block;
        padding: 0 1rem;
        background-color: #fff;
        font-size: 1.4rem;
        color: #9e9d9d;
        line-height: 2.4rem;
        position: relative;
        left: 3rem;
        top: 1rem;
        width: max-content;
      }
  
      input {
        width: 25.4rem;
        height: 5rem;
        border-radius: 5px;
        border: 1px solid #afafaf;
        color: #707070;
        font-family: inherit;
        padding: .5rem 1rem;
        letter-spacing: .5px;
      }
    }
  
    button {
      font-family: 'Lato', sans-serif;
      width: 50%;
      margin: 0 auto;
      margin-top: 2rem;
      height: 3.5rem;
      font-size: 1.4rem;
      outline: 0;
      border: 0;
      height: 4.4rem;
      border-radius: 1rem;
      color: #fff;
      box-shadow: 3px 3px 6px #00000029;
      background: transparent 
      linear-gradient(90deg, #11998E 0%, #38EF7D 100%) 
      0% 0% no-repeat padding-box;
  
      &:active {
        transform: translateY(3%);
        box-shadow: 1px 1px 4px #00000029;
      }
    }
  }

  > .passwordModal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #828282d7;
    z-index: 15;
    overflow: hidden;
  
    span {
      font-size: 1.7rem;
      background-color: #fff;
      border-radius: 100%;
      width: 2rem;
      display: inline-block;
      margin-left: 1rem;
      margin-top: 1rem;
      text-align: center;
      font-weight: 500;
      cursor: pointer;
  
    }
  
    .passwordForm {
      position: relative;
      top: 5rem;
      height: 45.8rem;
      width: 48.2rem;
      margin: 0 auto;
      padding: 3rem;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      background-color: #fff;
      box-shadow: .4rem .4rem .6rem #00000029;
  
      label {
  
        span {
          display: block;
          padding: 0 1rem;
          background-color: #fff;
          font-size: 1.4rem;
          color: #9e9d9d;
          line-height: 2.4rem;
          position: relative;
          left: 3rem;
          top: 1rem;
          width: max-content;
        }
  
        input {
          width: 29.5rem;
          height: 3.6rem;
          border-radius: 5px;
          border: 1px solid #afafaf;
          color: #707070;
          font-family: inherit;
          padding: 0 3px;
        }
      }
  
      button {
        font-family: 'Lato', sans-serif;
        width: 29.5rem;
        margin: 0 auto;
        margin-top: 2rem;
        height: 3.6rem;
        font-size: 1.4rem;
        outline: 0;
        border: 0;
        height: 4.4rem;
        border-radius: 1rem;
        color: #fff;
        box-shadow: 3px 3px .6rem #00000029;
        background: transparent 
        linear-gradient(90deg, #11998E 0%, #38EF7D 100%) 
        0% 0% no-repeat padding-box;
  
        &:active {
          transform: translateY(3%);
          box-shadow: 1px 1px 4px #00000029;
        }
      }
    }
  }
}