@import "../../assets/styles/generic/status.scss";
@import "../../assets/styles/config/breakpoints";
@import "../../assets/styles/config/mixins";

.section {
  margin-top: 2rem;
  padding: 2rem 0;
  width: 50rem;
  height: 53rem;

  @include respond(phone-large) {
    width: 95%;
  }

  .imageContainer {
    .headingImage {
      width: 90px;
      margin-bottom: 1rem;
      position: initial;
    }
  }
}

.customerInfo {
  flex: 0 0 55%;
  text-align: right;
}

.message {
  margin-top: 3rem;
}

.messageText {
  text-decoration: none;
  margin-right: 3rem;
}

.messageIcon {
  margin-right: 1rem;
  width: 2rem;
  vertical-align: middle;
}
