@import "../../../assets/styles/generic/form.scss";

.form {
  height: 46.2rem;

  .prefix {
    position: absolute;
    color: #707070;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: 1px solid #b3afaf;
    background-color: #f3f1f16e;
    font-size: 1.3rem;
    padding: 0 0.6rem;
    height: 3.9rem;
    line-height: 3.9rem;

    &:focus {
      outline: black;
    }
  }

  .phoneInput {
    padding-left: 5rem;
  }
}
