.container {
  width: 40rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 60rem;
  overflow: auto;
  background-color: #fff;
  border-radius: 1rem;
}
