.activity-log {
    text-align: left;
    letter-spacing: 1px;
    color: #707070;
    opacity: 1;
    font-size: 1.4rem;
    padding: 0 20px;
    padding-top: 30px;
    box-shadow: 5px 5px 5px #00000029;
    width: 99%;
    margin: 0 auto;
    position: relative;
    top: 10px;
    overflow-x: hidden;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // text-align: left;
    // padding: 0 10px;
    margin-bottom: 20px;

    :first-of-type {
      flex-basis: 5%;
      margin-right: 10px;
    }

    :not(:first-of-type) {
      flex: 0 0 calc(100%/7);
    }
  }

  &__content {
    box-shadow: 5px 5px 5px #00000029;
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    :first-of-type {
      flex: 0 1 10px;
      margin-right: 35px;
    }

    :not(:first-of-type) {
      flex: 0 0 calc(100%/8);
    }

    &__status {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      flex-basis: 5%;

      &--pending {
        background-color: #FE8B0C;
      }

      &--failed {
        background-color: #FF0000;
      }

      &--success {
        background-color: #3AC962;
      }
    }
  }
}