.new-transactions {
  padding: 0.3rem 5rem;
  width: 100%;
  // height: 100;
}
  
.new-transactions-container {
  display: flex;
  flex-flow: row wrap; 
  margin: 0 auto; 
  justify-content: flex-start;
  background-color: #fff;
  position: relative;
  top: 30px;
  z-index: 0;
}