@import "../../../assets/styles/config/breakpoints";
@import "../../../assets/styles/config/mixins";

.container {
  padding-top: 2rem;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #707087;
  font-size: 1.4rem;

  @include respond(phone-large) {
    width: 95%;
    height: 90vh;
  }

  > .cardContainer {
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;

    @include respond(phone-large) {
      height: 50%;
      justify-content: space-between;
    }
  }
}