.container {
    padding-top: 2rem;
    width: 97%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #707087;
    font-size: 1.4rem;
    text-align: left;

    > .loaderContainer {
      position: absolute;
      top: 50%;
      left: 53.5%;
      transform: translate(50%, 50%);
    }

    > .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding: 1.5rem 2rem;
      background-color: #fff;
      text-align: left;
    }

    > .log {
      box-shadow: .5rem .5rem .5rem #00000029;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding: 1rem 2rem;
      background-color: #fff;
      margin-bottom: .3rem;
    
      &:hover {
        transform: scale(1.02);
      }
    }

    > .pagination {
      margin-top: 2.5rem;
    }
    .pagination span {
      cursor: pointer;
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
    }
    
    .pagination span.active {
      background-color: #2A58AE;;
      color: white;
      border: 1px solid #2A58AE;;
    }
  }

.status {
  flex: 0 0 4%;

  span {
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
  }
}

.pending {
  background-color: #FE8B0C;
}

.failed {
  background-color: #FF0000;
}

.success {
  background-color: #3AC962;
}

.itemOne {
  flex: 0 0 5%;
}

.itemTwo {
  flex: 0 0 7%;
}

.itemThree {
  flex: 0 0 20%;
}

.itemFour {
  flex: 0 0 7%;
}

.itemFive {
  flex: 0 0 21%;
}

.itemSix {
  flex: 0 0 15%;
}

.itemSeven {
  flex: 0 0 12.5%;
}

.itemEight {
  flex: 0 0 8%;

  a {
    text-decoration: none;
    color: #551A8B;
  }
}

