.list-transactions {
    text-align: left;
    letter-spacing: 1px;
    color: #707070;
    opacity: 1;
    font-size: 1.4rem;
    padding: 0 2rem;
    padding-top: 3rem;
    box-shadow: 5px 5px 5px #00000029;
    width: 99%;
    margin: 0 auto;
    position: relative;
    top: 1rem;
    overflow-x: hidden;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    :first-of-type {
      flex-basis: 5%;
      margin-right: 1rem;
    }

    :not(:first-of-type) {
      flex: 0 0 calc(100%/7);
    }
  }

  &__content {
    box-shadow: 5px 5px 5px #00000029;
    height: 7.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    :first-of-type {
      flex: 0 1 10px;
      margin-right: 3.5rem;
    }

    :not(:first-of-type) {
      flex: 0 0 calc(100%/8);
    }

    &__status {
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      flex-basis: 5%;

      &--pending {
        background-color: #FE8B0C;
      }

      &--failed {
        background-color: #FF0000;
      }

      &--success {
        background-color: #3AC962;
      }
    }
  }
}