@keyframes slidein {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  80% {
    transform: translateY(-5%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.form {
  height: max-content;
  width: 38rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem 2.5rem;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  animation: slidein 0.2s;

  img {
    width: 3rem;
    margin-bottom: 1rem;
  }

  div {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    label {
      position: relative;
      top: 0.7rem;
      left: 1.2rem;
      background-color: #fff;
      width: max-content;
      padding: 0 0.5rem;
      font-size: 1.2rem;
    }

    input,
    select {
      border: 0;
      height: 3.8rem;
      border-radius: 5px;
      background-color: #fff;
      color: #707070;
      font-family: inherit;
      padding: 0 6px;
      border: 1px solid #7070707e;
    }
  }

  button {
    cursor: pointer;
    font-family: "Lato", sans-serif;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.4rem;
    outline: 0;
    border: 0;
    height: 3.8rem;
    border-radius: 0.5rem;
    color: #fff;
    box-shadow: 3px 3px 6px #00000029;
    background: transparent linear-gradient(90deg, #11998e 0%, #38ef7d 100%) 0%
      0% no-repeat padding-box;
  }
}
